* {
  box-sizing: border-box;
}
body {
  background-color: #7e9a9a;
}

a {
  color: white;
  text-decoration: none;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#title {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

header {
  text-align: center;
  font-size: 40px;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1;
  text-decoration: none;
  color: #fff;
  font-family: Iceland;
  animation: neon2 1.5s ease-in-out infinite alternate;
}



.about-container {
  display: flex;
  flex-wrap: row wrap;
  font-size: 25px;
  font-style: normal;
  margin-top: 40px;
  padding: 0 30px 0 30px;
}

.biking {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-radius: 10px;
}

.about-container p {
  margin: 20px 0 0 50px;
}

.about-container button {
  margin: 50px 0 0 50px;
}

.stack-list li {
  margin: 0 0 0 40px;
  list-style-type: none;
}

#footer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: left;
}

footer { 
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 25px;
  font-size: 25px;
}

footer {
  font-family: Pacifico;
  animation: neon3 1.5s ease-in-out infinite alternate;
}

footer p {
  font-variant: small-caps;
  letter-spacing: 0.15em;
  padding-left: 15px;
}

footer nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: left;
  list-style: none;
}



@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
      0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
      0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
  }
}

@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffdd1b,
      0 0 70px #ffdd1b, 0 0 80px #ffdd1b, 0 0 100px #ffdd1b, 0 0 150px #ffdd1b;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffdd1b,
      0 0 35px #ffdd1b, 0 0 40px #ffdd1b, 0 0 50px #ffdd1b, 0 0 75px #ffdd1b;
  }
}



